infra/n8n/workflows/service-request-local-test.json
{
  "createdAt": "2026-05-21T22:29:03.404Z",
  "updatedAt": "2026-05-22T01:27:04.195Z",
  "id": "dPZ57VyPut6jcgkM",
  "name": "service-request-local-test",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        160,
        260
      ],
      "webhookId": "service-request-local-test",
      "parameters": {
        "path": "service-request",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "normalize",
      "name": "Validate + Build Google Payloads",
      "type": "n8n-nodes-base.code",
      "position": [
        420,
        260
      ],
      "parameters": {
        "jsCode": "\nconst b = $json.body || $json;\nconst req = ['first_name', 'last_name', 'email'];\nfor (const k of req) {\n  if (!b[k]) throw new Error('Missing ' + k);\n}\nconst clean = (value) => String(value || '').trim();\nconst record = {\n  timestamp: new Date().toISOString(),\n  status: 'New Request',\n  lead_stage: 'New',\n  first_name: clean(b.first_name),\n  last_name: clean(b.last_name),\n  email: clean(b.email),\n  phone: clean(b.phone),\n  vehicle: clean(b.vehicle),\n  requested_service: clean(b.requested_service || b.service),\n  source_site: clean(b.source_site),\n  consent_to_contact: Boolean(b.consent_to_contact),\n  notes: clean(b.notes || b.message),\n};\nconst fullName = `${record.first_name} ${record.last_name}`.trim();\nconst vehicleLabel = record.vehicle || 'Vehicle TBD';\nconst line = JSON.stringify(record) + '\\n';\nconst followUpStart = new Date(Date.now() + 24 * 60 * 60 * 1000);\nfollowUpStart.setHours(10, 0, 0, 0);\nconst followUpEnd = new Date(followUpStart.getTime() + 30 * 60 * 1000);\nconst details = [\n  `Name: ${fullName}`,\n  `Email: ${record.email}`,\n  `Phone: ${record.phone || 'Not provided'}`,\n  `Vehicle: ${vehicleLabel}`,\n  `Requested service: ${record.requested_service || 'Not provided'}`,\n  `Source: ${record.source_site || 'Not provided'}`,\n  `Consent to contact: ${record.consent_to_contact ? 'Yes' : 'No'}`,\n  `Notes: ${record.notes || 'None'}`,\n].join('\\n');\nconst sender = 'crew@thegtcollective.com';\nconst notifyTo = 'crew@thegtcollective.com';\nfunction b64url(input) {\n  return Buffer.from(input, 'utf8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/g, '');\n}\nconst internalSubject = `New GT service request - ${fullName || record.email} - ${vehicleLabel}`;\nconst customerSubject = 'Your GT Collective request has been received';\nconst customerBody = `Hi ${record.first_name || 'there'},\n\nThanks for reaching out to The Grand Tour Collective. We received your request and our team will review the vehicle details, requested service, and schedule availability.\n\nThis message confirms that your request was submitted successfully. It is not yet a confirmed appointment or final quote.\n\nIf we need anything else, we'll follow up at this email address or the phone number you provided.\n\nBest,\nThe Grand Tour Collective\ncrew@thegtcollective.com`;\nconst calendarEventBody = {\n  summary: `Verify GT request - ${fullName || record.email}`,\n  description: details,\n  start: { dateTime: followUpStart.toISOString(), timeZone: 'America/New_York' },\n  end: { dateTime: followUpEnd.toISOString(), timeZone: 'America/New_York' },\n  attendees: [{ email: notifyTo }],\n};\nconst driveFolderBody = {\n  name: `Lead - ${fullName || record.email} - ${vehicleLabel}`.replace(/[\\\\/:*?\"<>|]/g, '-'),\n  mimeType: 'application/vnd.google-apps.folder',\n  parents: ['1Aae_1OQstLhBlmvv_yJiX1yM4r6XqsH0'],\n};\nreturn [{\n  json: {\n    ...record,\n    fullName,\n    vehicleLabel,\n    details,\n    sender,\n    notifyTo,\n    internalSubject,\n    customerSubject,\n    customerBody,\n    calendarEventBody,\n    driveFolderBody,\n    calendarEventJson: JSON.stringify(calendarEventBody),\n    internalEmail: { to: notifyTo, subject: internalSubject, message: details },\n    customerEmail: { to: record.email, subject: customerSubject, message: customerBody },\n    internalEmailBody: { raw: b64url(`From: ${sender}\\r\\nTo: ${notifyTo}\\r\\nSubject: ${internalSubject}\\r\\nContent-Type: text/plain; charset=UTF-8\\r\\n\\r\\n${details}`) },\n    customerEmailBody: { raw: b64url(`From: ${sender}\\r\\nTo: ${record.email}\\r\\nSubject: ${customerSubject}\\r\\nContent-Type: text/plain; charset=UTF-8\\r\\n\\r\\n${customerBody}`) },\n  },\n  binary: {\n    data: {\n      data: Buffer.from(line).toString('base64'),\n      mimeType: 'application/jsonl',\n      fileName: 'service-requests.jsonl',\n    },\n  },\n}];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "log",
      "name": "Append Local Audit Log",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        680,
        260
      ],
      "parameters": {
        "options": {
          "append": true
        },
        "fileName": "/logs/service-requests.jsonl",
        "operation": "write",
        "dataPropertyName": "data"
      },
      "typeVersion": 1
    },
    {
      "id": "sheets",
      "name": "Append Lead to Google Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        260
      ],
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1iIv6wwHWJ7bsg1LMzLEBsvtrx73dwbLgREbvMx0p1wk/values/A:Z:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "body": "={{JSON.stringify($json.sheetAppendBody)}}",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "specifyBody": "",
        "authentication": "predefinedCredentialType",
        "rawContentType": "application/json",
        "nodeCredentialType": "googleOAuth2Api"
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "calendar",
      "name": "Create Calendar Verification Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        940,
        260
      ],
      "parameters": {
        "end": "={{$json.calendarEventBody.end.dateTime}}",
        "start": "={{$json.calendarEventBody.start.dateTime}}",
        "calendar": "c_e5b19bc9dd919843fea0381d521c79e303f083dce3779d84e4b8cb666b20e121@group.calendar.google.com",
        "resource": "event",
        "operation": "create",
        "additionalFields": {
          "summary": "={{$json.calendarEventBody.summary}}",
          "attendees": [
            "crew@thegtcollective.com"
          ],
          "description": "={{$json.calendarEventBody.description}}",
          "sendUpdates": "all"
        },
        "useDefaultReminders": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gtCalOAuth",
          "name": "Google Calendar account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "drive",
      "name": "Create Drive Lead Folder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        260
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "body": "={{JSON.stringify($json.driveFolderBody)}}",
        "method": "POST",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": true,
        "contentType": "raw",
        "specifyBody": "",
        "authentication": "predefinedCredentialType",
        "rawContentType": "application/json",
        "nodeCredentialType": "googleOAuth2Api"
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "internal-email",
      "name": "Send Internal Gmail Alert",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2500,
        160
      ],
      "parameters": {
        "sendTo": "={{$(\"Build Notifications + CRM Row\").item.json.internalEmail.to}}",
        "message": "={{$(\"Build Notifications + CRM Row\").item.json.internalEmail.message}}",
        "options": {
          "replyTo": "crew@thegtcollective.com",
          "senderName": "The Grand Tour Collective",
          "appendAttribution": false
        },
        "subject": "={{$(\"Build Notifications + CRM Row\").item.json.internalEmail.subject}}",
        "resource": "message",
        "emailType": "text",
        "operation": "send",
        "authentication": "oAuth2"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gtGmailOAuth",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "customer-email",
      "name": "Send Customer Gmail Confirmation",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2760,
        160
      ],
      "parameters": {
        "sendTo": "={{$(\"Build Notifications + CRM Row\").item.json.customerEmail.to}}",
        "message": "={{$(\"Build Notifications + CRM Row\").item.json.customerEmail.message}}",
        "options": {
          "replyTo": "crew@thegtcollective.com",
          "senderName": "The Grand Tour Collective",
          "appendAttribution": false
        },
        "subject": "={{$(\"Build Notifications + CRM Row\").item.json.customerEmail.subject}}",
        "resource": "message",
        "emailType": "text",
        "operation": "send",
        "authentication": "oAuth2"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "gtGmailOAuth",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        3020,
        160
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"message\":\"Your request was received. We will review the vehicle, requested service, and schedule before preparing an estimate.\"}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "intake",
      "name": "Create Intake Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        80
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "specifyBody": "",
        "body": "={{JSON.stringify({name: '01 Intake', mimeType: 'application/vnd.google-apps.folder', parents: [$('Create Drive Lead Folder').item.json.id]})}}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "photos",
      "name": "Create Photos Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        200
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "specifyBody": "",
        "body": "={{JSON.stringify({name: '02 Photos', mimeType: 'application/vnd.google-apps.folder', parents: [$('Create Drive Lead Folder').item.json.id]})}}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "estimate",
      "name": "Create Estimate Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        320
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "specifyBody": "",
        "body": "={{JSON.stringify({name: '03 Estimate', mimeType: 'application/vnd.google-apps.folder', parents: [$('Create Drive Lead Folder').item.json.id]})}}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "invoices",
      "name": "Create Invoices Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        440
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "specifyBody": "",
        "body": "={{JSON.stringify({name: '04 Invoices', mimeType: 'application/vnd.google-apps.folder', parents: [$('Create Drive Lead Folder').item.json.id]})}}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "delivery",
      "name": "Create Final Delivery Subfolder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1460,
        560
      ],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "specifyBody": "",
        "body": "={{JSON.stringify({name: '05 Final Delivery', mimeType: 'application/vnd.google-apps.folder', parents: [$('Create Drive Lead Folder').item.json.id]})}}",
        "options": {
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "googleOAuth2Api": {
          "id": "ihQ8ehD1DIbYBA3J",
          "name": "Google account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "openai-summary",
      "name": "Run Local AI Lead Summary",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        1860,
        260
      ],
      "parameters": {
        "executeOnce": true,
        "command": "={{$json.localAiCommand}}"
      },
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "id": "build-notifications",
      "name": "Build Notifications + CRM Row",
      "type": "n8n-nodes-base.code",
      "position": [
        1980,
        260
      ],
      "parameters": {
        "jsCode": "\nconst lead = $('Validate + Build Google Payloads').item.json;\nconst drive = $('Create Drive Lead Folder').item.json;\nconst calendar = $('Create Calendar Verification Event').item.json;\nconst openAiRaw = $json?.stdout ? (() => { try { return JSON.parse($json.stdout); } catch { return { raw: $json.stdout }; } })() : $json;\nconst aiSummaryRaw = openAiRaw?.choices?.[0]?.message?.content || openAiRaw?.data?.[0]?.message?.content || openAiRaw?.error?.description || openAiRaw?.error?.message || openAiRaw?.message || openAiRaw?.raw || 'AI summary unavailable. Review the lead details manually.';\nconst aiSummary = typeof aiSummaryRaw === 'string' ? aiSummaryRaw : JSON.stringify(aiSummaryRaw);\nconst driveUrl = drive?.webViewLink || (drive?.id ? `https://drive.google.com/drive/folders/${drive.id}` : 'Drive folder unavailable');\nconst calendarUrl = calendar?.htmlLink || 'Calendar event unavailable';\nconst subfolders = {\n  intake: $('Create Intake Subfolder').item.json?.webViewLink || ($('Create Intake Subfolder').item.json?.id ? `https://drive.google.com/drive/folders/${$('Create Intake Subfolder').item.json.id}` : ''),\n  photos: $('Create Photos Subfolder').item.json?.webViewLink || ($('Create Photos Subfolder').item.json?.id ? `https://drive.google.com/drive/folders/${$('Create Photos Subfolder').item.json.id}` : ''),\n  estimate: $('Create Estimate Subfolder').item.json?.webViewLink || ($('Create Estimate Subfolder').item.json?.id ? `https://drive.google.com/drive/folders/${$('Create Estimate Subfolder').item.json.id}` : ''),\n  invoices: $('Create Invoices Subfolder').item.json?.webViewLink || ($('Create Invoices Subfolder').item.json?.id ? `https://drive.google.com/drive/folders/${$('Create Invoices Subfolder').item.json.id}` : ''),\n  delivery: $('Create Final Delivery Subfolder').item.json?.webViewLink || ($('Create Final Delivery Subfolder').item.json?.id ? `https://drive.google.com/drive/folders/${$('Create Final Delivery Subfolder').item.json.id}` : ''),\n};\nconst internalMessage = [\n  lead.details,\n  '',\n  'Lead stage: New',\n  `Drive folder: ${driveUrl}`,\n  `Calendar event: ${calendarUrl}`,\n  '',\n  'Subfolders:',\n  `- Intake: ${subfolders.intake}`,\n  `- Photos: ${subfolders.photos}`,\n  `- Estimate: ${subfolders.estimate}`,\n  `- Invoices: ${subfolders.invoices}`,\n  `- Final Delivery: ${subfolders.delivery}`,\n  '',\n  'AI lead summary:',\n  aiSummary,\n].join('\\n');\nconst slackMessage = [\n  `*New GT service request:* ${lead.fullName || lead.email}`,\n  `*Vehicle:* ${lead.vehicleLabel}`,\n  `*Service:* ${lead.requested_service || 'Not provided'}`,\n  `*Phone:* ${lead.phone || 'Not provided'}`,\n  `*Email:* ${lead.email}`,\n  `*Drive:* ${driveUrl}`,\n  `*Calendar:* ${calendarUrl}`,\n  '',\n  `*AI summary:*\\n${aiSummary}`,\n].join('\\n');\nconst sheetAppendBody = { values: [[\n  lead.timestamp,\n  'New Request',\n  'New',\n  lead.first_name,\n  lead.last_name,\n  lead.email,\n  lead.phone,\n  lead.vehicle,\n  lead.requested_service,\n  lead.source_site,\n  lead.consent_to_contact ? 'Yes' : 'No',\n  lead.notes,\n  driveUrl,\n  calendarUrl,\n  subfolders.intake,\n  subfolders.photos,\n  subfolders.estimate,\n  subfolders.invoices,\n  subfolders.delivery,\n  aiSummary,\n]] };\nreturn [{ json: {\n  ...lead,\n  aiSummary,\n  driveUrl,\n  calendarUrl,\n  subfolders,\n  sheetAppendBody,\n  internalEmail: { to: lead.notifyTo, subject: lead.internalSubject, message: internalMessage },\n  customerEmail: lead.customerEmail,\n  slackMessage,\n  slackChannel: $env.SLACK_CHANNEL_ID || '#gt-collective-detailing-leads',\n}}];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "slack-alert",
      "name": "Send Slack Lead Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        2500,
        320
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "={{$(\"Build Notifications + CRM Row\").item.json.slackChannel}}"
        },
        "messageType": "text",
        "text": "={{$(\"Build Notifications + CRM Row\").item.json.slackMessage}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackApi": {
          "id": "cxTrPRcmjsDBs5D2",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.3,
      "continueOnFail": true
    },
    {
      "id": "build-local-ai-command",
      "name": "Build Local AI Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        260
      ],
      "parameters": {
        "jsCode": "\nconst lead = $('Validate + Build Google Payloads').item.json;\nconst drive = $('Create Drive Lead Folder').item.json;\nconst calendar = $('Create Calendar Verification Event').item.json;\nconst prompt = [\n  lead.details,\n  drive?.id ? 'Drive folder: https://drive.google.com/drive/folders/' + drive.id : 'Drive folder: unavailable',\n  calendar?.htmlLink ? 'Calendar event: ' + calendar.htmlLink : 'Calendar event: unavailable',\n].join('\\n');\nconst script = \"const prompt=Buffer.from(process.argv[1],'base64').toString('utf8'); const base=(process.env.LOCAL_AI_BASE_URL||'http://host.docker.internal:1234/v1').replace(/\\\\/$/,''); const model=process.env.LOCAL_AI_MODEL||'local-model'; fetch(base + '/chat/completions',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({model,messages:[{role:'system',content:'You write concise internal lead briefs for an automotive service and collecting business. Return plain text only. Include service category, urgency, missing info, suggested first response, and estimate-prep checklist.'},{role:'user',content:prompt}],temperature:0.2,stream:false})}).then(async r=>{const t=await r.text(); if(!r.ok){console.log(JSON.stringify({error:t,status:r.status})); return;} console.log(t);}).catch(e=>{console.log(JSON.stringify({error:e.message}));});\";\nreturn [{ json: { localAiCommand: 'node -e ' + JSON.stringify(script) + ' ' + Buffer.from(prompt).toString('base64') } }];\n"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate + Build Google Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate + Build Google Payloads": {
      "main": [
        [
          {
            "node": "Append Local Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Local Audit Log": {
      "main": [
        [
          {
            "node": "Create Calendar Verification Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Verification Event": {
      "main": [
        [
          {
            "node": "Create Drive Lead Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Lead Folder": {
      "main": [
        [
          {
            "node": "Create Intake Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Intake Subfolder": {
      "main": [
        [
          {
            "node": "Create Photos Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Photos Subfolder": {
      "main": [
        [
          {
            "node": "Create Estimate Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Estimate Subfolder": {
      "main": [
        [
          {
            "node": "Create Invoices Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Invoices Subfolder": {
      "main": [
        [
          {
            "node": "Create Final Delivery Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Delivery Subfolder": {
      "main": [
        [
          {
            "node": "Build Local AI Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notifications + CRM Row": {
      "main": [
        [
          {
            "node": "Append Lead to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Lead to Google Sheet": {
      "main": [
        [
          {
            "node": "Send Internal Gmail Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Internal Gmail Alert": {
      "main": [
        [
          {
            "node": "Send Customer Gmail Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Gmail Confirmation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Lead Alert": {
      "main": [
        []
      ]
    },
    "Build Local AI Command": {
      "main": [
        [
          {
            "node": "Run Local AI Lead Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Local AI Lead Summary": {
      "main": [
        [
          {
            "node": "Build Notifications + CRM Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": null,
  "triggerCount": 1,
  "tags": []
}
