infra/n8n/workflows/service-request-local-test.json
{
  "name": "service-request-local-test",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "path": "service-request",
        "responseMode": "responseNode",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 280],
      "webhookId": "service-request-local-test"
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body||$json; const req=['first_name','last_name','email']; for (const k of req){if(!b[k]) throw new Error('Missing '+k);} const record={...b,timestamp:new Date().toISOString(),status:'New Request'}; const line=JSON.stringify(record)+'\\n'; return [{json:record,binary:{data:{data:Buffer.from(line).toString('base64'),mimeType:'application/jsonl',fileName:'service-requests.jsonl'}}}];"
      },
      "id": "normalize",
      "name": "Validate + Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/logs/service-requests.jsonl",
        "dataPropertyName": "data",
        "options": {
          "append": true
        }
      },
      "id": "log",
      "name": "Append Local Log",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [740, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"message\":\"Your request was received. We will review the vehicle, requested service, and schedule before preparing an estimate.\"}",
        "options": {}
      },
      "id": "resp",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [980, 280]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate + Normalize", "type": "main", "index": 0}]]},
    "Validate + Normalize": {"main": [[{"node": "Append Local Log", "type": "main", "index": 0}]]},
    "Append Local Log": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  }
}
